
{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
 <style type="text/css">
   body{
    font-family: bold;
   }
 </style>    
 
   
</head>
<body style="">
  
   





  
<div class="container" style="width: 100%;padding: 0px;">
  
  

 


<!-- mwanzo wa div -->
  <div style=" color: black;box-shadow: -10px 10px  10px rgba(0,0,0,0.3);">

    <div style="width: 90%;padding: 10px;">
      <h4 style="color: black;font-size: 16px;text-align: left;margin-bottom: 0px;padding: 10px;">Hello {{name}}, sent from Students Projects Share to inform you that, {{Title2}}</h4>

      <hr>
      
        <h2 style="color: black;font-size: 16px;text-align: left;margin-bottom: 0px;margin-top: 0px;padding: 10px;">STUDENTS PROJECTS SHARE</h2>

        This is an android mobile application designed to empower students, especially those in universities, and others interested in technology-related issues such as system development, mobile application development, graphics design, etc.<br><br>

      Within this application, users can learn and view projects from students across various universities in Tanzania.
      Users can read various articles prepared by others relating to technology issues.<br><br>

      There's a section for experts in various fields, especially engineering fields, where users can view and even communicate with them if they need their services.<br><br>

      There will also be a section within this application that enables people to post their work and other information so that if a user of this application likes it, they can contact them.

        <!-- <img src="{% static 'icon2.png' %}" style="width: 300px;height: 400px;border-radius: 10px;margin-bottom: 15px;"> -->

      <!--   The new version of the Students Projects Share app is live on the Play Store. Be the first to download and get the new features available in this application. Download through the link below and be the first to get this app.
 -->
​​​​​​​
     
    </div>

    <div>
      
<hr>
      <h2 style="color: black;font-size: 14px;text-align: left;margin-bottom: 0px;padding: 10px;">{{Title2}}</h2>
    </div>
  
  

  <div style="color: black; font-size: 14px;box-shadow: -10px 10px  10px rgba(0,0,0,0.3);padding: 10px;width: 90%;">
    {{Message|safe}}  
    <!-- Hello Students fdffffd hhhhaha sdvv rera gydhdh dsrtg jhkk sdsfsf vcjckfgfgf cfddhdh fdg ggdfdfdfd jgygu asrsr kfjghghh adfsfs sffffd tdhdhd jjfjfhfh dsdsffd zffsff dgdfdff
    Hello Students fdffffd hhhhaha sdvv rera gydhdh dsrtg jhkk sdsfsf vcjckfgfgf cfddhdh fdg ggdfdfdfd jgygu asrsr kfjghghh adfsfs sffffd tdhdhd jjfjfhfh dsdsffd zffsff dgdfdff
    Hello Students fdffffd hhhhaha sdvv rera gydhdh dsrtg jhkk sdsfsf vcjckfgfgf cfddhdh fdg ggdfdfdfd jgygu asrsr kfjghghh adfsfs sffffd tdhdhd jjfjfhfh dsdsffd zffsff dgdfdff<br>
    Click a link below to download it in Google Play Store  -->
    
    Click a link below to download it in Google Play Store<br>

    <a href="https://play.google.com/store/apps/details?id=ttpc.StudentsProjectsShare" style="color: blue;text-decoration: none;font-size: 16px;text-align: left;font-weight: bold;margin-top: 10px;padding: 10px;width: 90%;">https://play.google.com/store/apps/details?id=ttpc.StudentsProjectsShare</a>

  </div>


 


   

  </div>
<!-- mwisho wa div -->
  







</div>











 
</body>
</html>
